{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Shop/index.css' %}">
    <title>Shop</title>
</head>
<body>
    {% include 'Shop/navbar.html' %}
    <header class="welcome">
        <h1>Welcome</h1>
        <h3><span id="relax-h3">Relax</span> and <span id="relax-h3">select</span> your movie.</h3>
    </header>
</body>
</html>